/* ===== Page ===== */
body{
    min-height: 100vh;
    background: #302f2f;
    display: flex;
    justify-content: center;   /* horizontal only */
    align-items: flex-start;   /* no vertical movement */
    padding-top: 60px;
}

/* ===== Form ===== */
.form-div{
    width: 430px;
    background: #111010;
    padding: 50px 30px 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    box-shadow:
        6px 6px 12px rgba(0,0,0,0.8);
}

/* ===== Inputs ===== */
input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #111010;
    color: aliceblue;
    padding: 0 12px;

    box-shadow:
        inset 4px 4px 8px rgba(0,0,0,0.8),
        inset -4px -4px 8px rgba(255,255,255,0.05);
}

input::placeholder{
    color: #555;
}

input:focus{
    outline: none;
}

/* ===== Buttons ===== */
button{
    width: 100%;
    height: 40px;
    background: rgb(220, 133, 90);
    border-radius: 20px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

/* ===== Output card ===== */
.card{
    margin-top: 30px;   /* normal spacing */
    width: 430px;
    padding: 25px;
    border-radius: 20px;
    background: #000;
    color: white;
    text-align: center;

    box-shadow:
        6px 6px 12px rgba(0,0,0,0.8);
}

/* Hide card until preview */
.card:empty{
    display: none;
}
