form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 400px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 50px 40px 50px 40px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    gap: 20px;
    margin-top: 150px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

body {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    align-items: center;
    /* center horizontally */
    justify-content: flex-start;
    /* start from top */
    text-align: center;
    background: #0e0e0e !important;
    gap: 20px;
    /* optional spacing between form and card */
    min-height: 100vh;
}


input {
    background-color: #333 !important;
    border-radius: 10px !important;
    font-size: medium;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid black !important;
    transition: none !important;
    outline: none;
    color: #ffffff !important;
    padding: 12px 16px !important;
    /* MORE inside space */
    height: 44px;


}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid black !important;
    border-color: #a78bfa !important;
}

input::placeholder {

    color: #9f9c9c !important;



}

button {
    background-color: rgba(167, 139, 250, 1);
    padding: 8px 15px;
    border: none;
    border-radius: 9px !important;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px !important;
    text-transform: capitalize !important;


}

button:hover {
    background: white;
    padding: 8px 15px;
    box-shadow: 0 4px 20px rgba(167, 139, 250, 1);

}

.name-row {
    display: flex;
    gap: 10px;
}

.name-row .form-control {
    flex: 1;
    /* equal width */
}

.btn-row button {
    flex-direction: column;

    gap: 5px !important;
}

.btn-row {
    display: flex;
    gap: 10px;
}

.btn-row button {
    flex: 1;
    /* equal width */
}

#card {
    width: 400px;
    display: none;
    /* hide at first */
    flex-direction: column;
    align-items: center;
    /* center profile icon + name */
    justify-content: flex-start;
    gap: 20px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 50px 40px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    /* smaller than form margin */
    text-align: center;
    margin-bottom: 200px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.name {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 20px;


}

.info {
    text-align: start;
}

.info h4 {
    font-weight: 400;
    color: #cacaca;
    font-size: 19px;
}

img {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 20px;
}

hr {
    color: white;
    background: hsl(0, 0%, 100%);
    height: 1px;
}